.singular {
    height: 300px;
    width: 216px;
    float: left;
    margin-right: 28px;
    margin-bottom: 13px;
    position: relative;
    border: solid 4px #3d4b56;
    overflow: hidden;
}
.singular img {
    width: 216px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: middle;
    max-height: 300px;
}

.singular:last-of-type {
    margin-right: 0px;
}

.content {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.info {
    position: absolute;
    bottom: -178px;
    background: #3d4b56;
    /*top: $heightsingular;*/
    left: 0px;
    color: white;
    width: 100%;
    text-align: center;
    padding: 90px 0px 30px 0px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(rgba(39, 152, 156, 0) 0%, #3d4b56 100%);
    background: -moz-linear-gradient(rgba(39, 152, 156, 0) 0%, #3d4b56 100%);
    background: -o-linear-gradient(rgba(39, 152, 156, 0) 0%, #3d4b56 100%);
    background: linear-gradient(rgba(39, 152, 156, 0) 0%, #3d4b56 100%);
}

.name {
    font-size: 24px;
    font-weight: 800;
}

.genres {
    font-size: 12px;
    font-weight: 300;
}

.singular .content:hover .info{
    -webkit-transform: translate(0px, -150px);
    transform: translate(0px, -165px);
}

.content:hover img {
    -webkit-transform: translate(0px, 175px);
    transform: translate(0px, -10px);
}

.content-img{
    float: left;
    margin-right: 50px;
    height: 350px;
    width: 270px;

}

.content-img img{
    border: 3px solid #3c3c3c;
    border-radius: 12px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.content-img img:hover{
    opacity: .8;
}

.rent{
    margin-top: 35px;
}